<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Staff Structure</title>
</head>
<body>

{% if employee %}
        <h3 class="mt-5">Employee Name - {{ employee.name }}</h3>
        <p><strong>Position:</strong> {{ employee.position }}</p>
        <p><strong>Date of Employment:</strong> {{ employee.date_of_employment }}</p>
        <p><strong>Salary:</strong> {{ employee.salary }}</p>
        <p><strong>Department:</strong> {{ employee.department.name }}</p>
    {% endif %}

    <a href="{% url 'employees_lst' pk %}" class="btn btn-secondary mt-3">Back</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>